// Portfolio Modal 2
#portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal2', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.mb-0 Graphics Design
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-palette
                                .divider-custom-line
                            // Portfolio Modal - Image
                            //img.img-fluid.rounded.mb-5(src='assets/img/portfolio/cake.png', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | We aim to provide built-in design tools that will allow users to create stunning banners and promotional materials easily. With customizable templates, even those without design experience will be able to produce professional-quality graphics to boost event visibility.
                            button.btn.btn-outline-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window