// Portfolio Modal 6
#portfolioModal6.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal6', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.mb-0 Free and Open-Source
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-share
                                .divider-custom-line
                            // Portfolio Modal - Image
                            //img.img-fluid.rounded.mb-5(src='assets/img/portfolio/submarine.png', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | Our platform will be free and open-source, allowing anyone to use, modify, and distribute the software. This promotes transparency, collaboration, and continuous improvement, ensuring the platform evolves to meet users' needs.
                            button.btn.btn-outline-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window